<html>
  <body>
    <h1>JibJob - Password Reset</h1>

    <p>Someone made a request to reset your password:</p>
    <a href="<%= new_password_url(t: @user.password_recovery.token) %>">Reset my password</a>
  </body>
</html>