.publication-access-code-page {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  margin: 50px auto;
  @include rounded(2px);

  .msg {
    padding: 10px;
    margin-bottom: 10px;
  }
}
