$page-background-color: lighten(#000, 15%);
$resume-background-color: #fff;
$resume-font: "Source Sans Pro";
$logo-font: "Fugaz One";

html, body {
  background: $page-background-color;
}

.page {
  padding: 10px;
  background-color: $page-background-color;

  @media (max-width: $screen-phone) {
    padding: 0px;
  }
}

.resume {
  padding: 40px 50px;
  background: $resume-background-color;
  font-family: $resume-font;
  font-weight: 300;

  @media (max-width: $screen-phone) {
    padding: 20px;
    font-size: 10px;
  }

  .resume-header {
    text-align: center;
  }

  .fullname {
    font-weight: 600;
    font-size: 18px;
  }

  .resume-section {
    margin-top: 20px;
  }
}

.section {
  margin-top: 10px;
  margin-bottom: 20px;

  .section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .period-title {
    font-size: 16px;
    font-weight: 400;
  }
}

.period {
  margin-top: 10px;
}

.control-panel {
  @include rounded(1px);
  padding: 10px;
  transition: opacity 0.5s ease;
  font-size: 10px;
  color: #fff;
  text-align: right;

  @media (max-width: $screen-phone) {
    text-align: center;
    font-size: 14px;
  }

  a {
    margin-left: 10px;

    &:hover {
      color: rgba(200, 56, 56, 1.0);
    }

    .glyphicon {
      margin-right: 2px;
      margin-left: 2px;
    }

    .fa {
      margin-right: 2px;
      margin-left: 2px;
    }
  }
}

.control-panel.inactive {
  opacity: 0.0;
  transition: opacity 0.5s ease;

  @media (max-width: $screen-phone) {
    opacity: 1.0;
  }
}

.footer {
  margin: 20px;
  padding: 10px;
  color: #fff;

  .powered {
    text-align: center;
    font-size: 10px;
    opacity: 0.5;

    a {
      font-family: $logo-font;
      font-size: 16px;
      color: #fff;
      display: block;
      text-decoration: none;
    }
  }
}