$page-background-color: lighten(#000, 15%);
$resume-background-color: #fff;
$resume-font: "Source Sans Pro";
$logo-font: "Fugaz One";

html, body {
  background: $page-background-color;
}

.page {
  padding: 10px;
  background-color: $page-background-color;

  @media (max-width: $screen-phone) {
    padding: 0px;
  }
}

.control-panel {
  max-width: 210mm;
  padding: 10px;
  transition: opacity 0.5s ease;
  font-size: 10px;
  color: #fff;
  margin: auto;
  text-align: right;

  @media (max-width: $screen-phone) {
    text-align: center;
    font-size: 14px;
  }

  a {
    margin-left: 10px;
    text-decoration: none;

    &:hover {
      color: rgba(200, 56, 56, 1.0);
    }

    .glyphicon {
      margin-right: 2px;
      margin-left: 2px;
    }

    .fa {
      margin-right: 2px;
      margin-left: 2px;
    }
  }
}

.control-panel.inactive {
  opacity: 0.5;
  transition: opacity 0.5s ease;

  @media (max-width: $screen-phone) {
    opacity: 1.0;
  }
}

.footer {
  margin: 20px;
  padding: 10px;
  color: #fff;

  .powered {
    text-align: center;
    font-size: 10px;
    opacity: 0.5;

    a {
      font-family: $logo-font;
      font-size: 16px;
      color: #fff;
      display: block;
      text-decoration: none;
    }
  }
}