.social-buttons.row
  .col-sm-12.hidden-xs
    Log in with the following:
  .col-sm-4
    = link_to "/app/auth/facebook", class: "btn btn-block btn-social btn-facebook" do
      %i.fa.fa-facebook
      .name.hidden-xs Facebook
      .name.hidden-sm.hidden-md.hidden-lg Log in with Facebook
  .col-sm-4
    = link_to "/app/auth/twitter", class: "btn btn-block btn-social btn-twitter" do
      %i.fa.fa-twitter
      .name.hidden-xs Twitter
      .name.hidden-sm.hidden-md.hidden-lg Sign in with Twitter
  .col-sm-4
    = link_to "/app/auth/google", class: "btn btn-block btn-social btn-google-plus" do
      %i.fa.fa-google-plus
      .name.hidden-xs Google+
      .name.hidden-sm.hidden-md.hidden-lg Sign in with Google+