.page
  .signin.container-fluid
    .row
      .col-md-12
        .center-block.form-container
          %h1 Sign in
          = form_tag sessions_url, method: "POST" do
            .form-group
              %label Username
              %input.form-control{type: "text", spellcheck: false, name: "username"}
            .form-group
              %label Password
              %input.form-control{type: "password", name: "password"}
            %button.button{type: "submit"} Submit