.page.signin
  .container-fluid
    .center-block.form-container
      .form-title Sign in
      = form_tag sessions_url, method: "POST" do
        .form-group
          %label Username
          %input.form-control{type: "text", spellcheck: false, name: "username", autocorrect: 'off', autocapitalize: 'off'}
        .form-group
          %label Password
          %input.form-control{type: "password", name: "password"}
        %button.button{type: "submit"} Submit