.signin-page
  .container
    .center-block.form-container
      .form-title
        %span.glyphicon.glyphicon-paperclip
        Sign in
      = form_tag login_url, method: "POST" do
        .form-group
          %label Username
          %input.form-control{type: "text", spellcheck: false, name: "username", autocorrect: 'off', autocapitalize: 'off', autofocus: true, autocomplete: 'off'}
        .form-group
          %label Password
          %input.form-control{type: "password", name: "password"}
        %button.button{type: "submit", class: "btn btn-success"} Submit
        .pull-right.small= link_to "Forgot password?", reset_password_url