%meta{name: "keywords", content: "jibjob resume resumes cv"}
%meta{name: "description", content: "Easy resume editing and publishing. Write your resumes in plain text and publish them for web, mobile, and print."}