.about-page.page.small-white-content-page
  .container
    .page-contents
      .row
        .col.sm-12
          %h2 About JibJob
          %p
            JibJob is an open-source project made with Ruby on Rails.
            The project page is <a href="http://github.com/virgild/jibjob-rails">http://github.com/virgild/jibjob-rails</a>.

          %h2 Project Contributors
          %ul
            %li <a href="http://github.com/virgild">Virgil Dimaguila</a> - Project Creator