.about-page.page
  .container
    %h1 About JibJob
    %p JibJob is open-source. The project page is http://github.com/virgild/jibjob-rails.

    %h2 Project Contributors
    %ul
      %li Virgil Dimaguila - Project Creator

    .row
      .col-sm-12
        %h2 FAQs
        %h3 General
        %ol
          %li
            .question Is JibJob free to use?
            .answer Yes
          %li
            .question Is JibJob a job posting board?
            .answer No
          %li
            .question Can I see the list of resumes submitted on this website?
            .answer No
          %li
            .question Can I get the source code and run my own JibJob-powered site?
            .answer Yes
          %li
            .question Where can I submit feedback and bugs with the JibJob site and/or application?
            .answer <a href="http://github.com/virgild/jibjob-rails">http://github.com/virgild/jibjob-rails</a>

        %h3 Composing Resumes
        %ol
          %li
            .question Can I import my existing resume to JibJob?
            .answer
          %li
            .question Can I choose different styles for my resume?
            .answer
          %li
            .question What is plain text?
            .answer
          %li
            .question Can JibJob help me write my resume?
            .answer
          %li
            .question How do I spell-check my resume?
            .answer

        %h3 Publishing Resumes
        %ol
          %li
            .question Can I export my JibJob resume to Microsoft (MS) Word format?
            .answer
          %li
            .question How do I print my JibJob resume?
            .answer
          %li
            .question How do I save my resume in PDF format?
            .answer
          %li
            .question How do I send my resume to a potential employer?
            .answer
          %li
            .question How do I make my published resume private?
            .answer
          %li
            .question What happens when I delete my published resume.
            .answer
          %li
            .question So, how do I really export my JibJob resume to MS Word format?
            .answer
          %li
            .question But I really need my resume exported in MS Word format!
            .answer