.faq-page.page.small-white-content-page
  .container
    .page-contents
      .row
        .col-sm-12
          %h2 FAQs
          %h3 General
          %ol
            %li
              .question Is JibJob free to use?
              .answer Yes.
            %li
              .question Is JibJob a job posting board?
              .answer No.
            %li
              .question Can I see the list of resumes submitted on this website?
              .answer No.
            %li
              .question Can I get the source code and run my own JibJob-powered site?
              .answer Yes. The details on how to do this is in the <a href="http://github.com/virgild/jibjob-rails">Github project page</a>.
            %li
              .question Where can I submit feedback and bugs with the JibJob site and/or application?
              .answer <a href="http://github.com/virgild/jibjob-rails">http://github.com/virgild/jibjob-rails</a>

          %h3 Composing Resumes
          %ol
            %li
              .question Can I import my existing resume to JibJob?
              .answer No, but you can still copy and paste the text contents of your resume to JibJob.
            %li
              .question Can I choose different styles for my resume?
              .answer Not at this time.
            %li
              .question Can JibJob help me write my resume?
              .answer
                No. JibJob cannot provide advice on the actual content of your resume.
            %li
              .question How do I spell-check my resume?
              .answer
                You can use your browser's spellcheck feature when editing your resume.
                A built-in solution may be provided in the future.

          %h3 Publishing Resumes
          %ol
            %li
              .question Can I export my JibJob resume to Microsoft (MS) Word format?
              .answer
                Not at this time.
            %li
              .question How do I print my JibJob resume?
              .answer
                Save the PDF version of your resume and print that file.
            %li
              .question How do I save my resume in PDF format?
              .answer
                Click the PDF link on top of your published resume page to download the file.
            %li
              .question How do I send my resume to a potential employer?
              .answer
                You can send the URL of your published resume, or attach the PDF version to an e-mail.
                Some application forms may require you to paste your resume to a web form.
                Click the <code>Plain Text</code> link on your published resume page and copy the contents
                to your clipboard.
            %li
              .question How do I make my published resume private?
              .answer
                Set an <code>Access Code</code> in the resume <code>Edit</code> form.
            %li
              .question What happens when I delete my published resume.
              .answer
                Your resume is deleted from the application and your resume link will stop working.
            %li
              .question So, how do I really export my JibJob resume to MS Word format?
              .answer
                There is no MS Word export functionality at the moment.
            %li
              .question But I really need my resume exported in MS Word format!
              .answer
                Okay, it is a feature that is being worked on.