.page.get_started-page
  .page-header
    .container
      .title Get started

    .container
      .row
        .col-md-12
          %h2 Creating the resume
          %h3 Specifying the name and slug
          %h3 The resume text
