.page.get_started-page
  .page-header
    .container
      .title Get started

    .container
      .row
        .col-md-12
          %h2 Overview
          %p
            JibJob lets you compose your resume in plain text and exports it to a web page and PDF format.
            You write your resume text with
        .col-md-12
          %h2 Creating the resume
          %h3 Specifying the name and the link name
          %h3 The resume text
          %h4 Header
          %ul
            %li Name
            %li Address
            %li Telephone
            %li E-mail
            %li URL
          %h4 Sections
          %h5 Paragraph
          %h5 List of items
          %h5 Periods
          %ul
            %li Period Name
            %li Organization
            %li Location
            %li Dates
            %li List of items