.page
  .jumbotron.front-splash
    .container-fluid
      .row
        .col-md-6.col-sm-6
          .subtitle1
            Welcome to jibjob.
          .clearfix
          .subtitle2
            Old-style resumes for the modern world.
          .clearfix
          = link_to "Sign up now", new_user_url, class: "btn btn-success signup-button"

  .front-features
    .container-fluid
      .row
        .col-sm-4.col-xs-12
          .feature
            .span.pull-left.glyphicon.glyphicon-home{style:"font-size:32px; margin:10px;"}
            .title This is cool.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-4.col-xs-12
          .feature
            .span.pull-left.glyphicon.glyphicon-time{style:"font-size:32px; margin:10px;"}
            .title You like this.
            %p
              Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
        .col-sm-4.col-xs-12
          .feature
            .span.pull-left.glyphicon.glyphicon-file{style:"font-size:32px; margin:10px;"}
            .title Time to shine.
            %p
              Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  .front-details
    .container-fluid
      .row
        .col-md-12
          %h2 Do the right thing.