.page.front-page
  .splash-header
    .container
      .row
        .col-md-12
          .logo jibjob
          .subtitle
            Easy resume editing and publishing
          .subtitle2
            Write your resumes in <em>plain text</em> and publish them for <em>web</em>, <em>mobile</em>, and <em>print</em>.
  .front-splash
    .container

  .front-features
    .container
      .row
        .col-sm-12.col-xs-12
          .feature
            .title Quickly and easily compose your resume
            %p
              Writing your resume is as easy as editing a plain text file.
              There is no need to worry about formatting.
        .col-sm-12.col-xs-12
          .feature
            .title Publish for web, mobile, and print
            %p
              Your published resume is accessible via web and mobile. It is also exported to
              PDF format.
              <br/><br/>
              = link_to "Click here to see sample resume", publication_path(slug: "sample")

        .col-sm-12.col-xs-12
          .feature
            .title Track views
            %p
              Track page views and downloads of your resume.
      .row
        .col-sm-12.signup-area
          = link_to signup_url do
            .span.glyphicon.glyphicon-user
            Sign up