.faq-page {
  font-family: "Open Sans";
  @include content-page;

  li {
    line-height: 1.5em;
    margin-bottom: 10px;
  }

  .question {
    font-weight: 400;
  }

  .answer {
    font-weight: 300;
  }
}