// $front-splash-bg-image: "photos/front-splash-1.jpg";
$front-splash-bg-image: "show-front.png";
$front-features-bg-color: #44485F;
$front-title-font: "Open Sans";

.front-page {
  background-color: $front-features-bg-color;

  .splash-header {
    text-align: center;

    .logo {
      font-family: "Fugaz One";
      font-size: 32px;
      text-shadow: #111 0px 2px 1px;
      color: #fff;
      padding: 5px 20px;
    }

    .subtitle {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
      color: #fff;
      padding: 5px 10px;
      font-family: $front-title-font;
    }
  }
}

.front-splash {
  padding: 20px;
}

.front-splash .container {
  color: #fff;
  background-image: image-url($front-splash-bg-image);
  background-color: $front-features-bg-color;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 400px;

  @media (max-width: $screen-xs-min) {
    height: 300px;
  }

  @media (max-width: $screen-xs-min) {
    height: 200px;
  }
}

.front-features {
  background-color: $front-features-bg-color;
  min-height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;

  .feature {
    padding: 20px;
    background-color: #f6f6f6;
    margin-bottom: 5px;
    box-shadow: inset 0px -3px 0px 0px #e6e6e6, 0px -3px 0px 0px #fff;

    .title {
      font-weight: 800;
      font-size: 18px;
      font-family: $front-title-font;
    }

    p {
      font-size: 12px;
    }
  }
}

.front-details {
  background-color: #000;
  padding: 20px;
  color: #fff;
  min-height: 200px;
}