$front-splash-bg-image: "photos/front-splash-1.jpg";
$front-features-bg-color: #44485F;
$front-title-font: "Open Sans";

.front-splash {
  color: #fff;
  background-image: image-url($front-splash-bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .subtitle1 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    font-family: $front-title-font;
  }

  .subtitle2 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    font-family: $front-title-font;
  }

  .signup-button {
    margin-top: 10px;
  }
}

.front-features {
  background-color: $front-features-bg-color;
  min-height: 100px;
  padding: 20px;

  .feature {
    padding: 20px;
    background-color: #fff;
    border-bottom: solid 3px darken($front-features-bg-color, 5%);

    .title {
      font-weight: 800;
      font-size: 18px;
      font-family: $front-title-font;
    }

    p {
      font-size: 12px;
    }
  }
}

.front-details {
  background-color: #000;
  padding: 20px;
  color: #fff;
  min-height: 200px;
}