// $front-splash-bg-image: "photos/front-splash-1.jpg";
$front-splash-bg-image: "show-front.png";
$front-features-bg-color: #44485F;
$front-title-font: "Open Sans";

.front-page {
  background-color: $front-features-bg-color;

  .splash-header {
    text-align: center;
    color: #fff;

    .logo {
      font-family: "Fugaz One";
      font-size: 42px;
      text-shadow: rgba(#111, 0.5) 0px 1px 1px;
      padding: 5px 20px;
      margin-top: 20px;
    }

    .subtitle {
      font-size: 20px;
      font-weight: normal;
      padding: 5px 10px;
      font-family: $front-title-font;
      text-shadow: rgba(#111, 0.5) 0px 1px 1px;
    }

    .subtitle2 {
      font-family: $front-title-font;
      text-shadow: rgba(#111, 0.5) 0px 1px 1px;
    }
  }

  .front-splash {

  }

  .front-splash .container {
    color: #fff;
    background-image: image-url($front-splash-bg-image);
    background-color: $front-features-bg-color;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 500px;

    @media (max-width: $screen-xs-min) {
      height: 300px;
    }
  }

  .front-features {
    background-color: $front-features-bg-color;
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;

    .feature {
      padding: 20px;
      background-color: #f6f6f6;
      margin-bottom: 5px;
      box-shadow: inset 0px -3px 0px 0px #e6e6e6, 0px -3px 0px 0px #fff;

      .title {
        font-weight: 800;
        font-size: 18px;
        font-family: $front-title-font;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .front-details {
    background-color: #000;
    padding: 20px;
    color: #fff;
    min-height: 200px;
  }

  .signup-area {
    text-align: center;
    color: #fff;
  }

  .signup-area {
    margin-top: 30px;
    padding-bottom: 20px;

    a {
      text-decoration: none;
      color: #fff;
      background-color: #ec148e;
      padding: 5px 20px;
      font-size: 24px;
      font-weight: 600;
      @include rounded(3px);
      font-family: 'Open Sans';
      box-shadow: inset 0 1px lighten(#ec148e, 10%), 0 4px darken(#ec148e, 10%);

      &:hover {
        top: -3px;
        position: relative;
        box-shadow: inset 0 1px lighten(#ec148e, 10%), 0 4px darken(#ec148e, 10%);
        box-shadow: 0px 3px 2px rgba(#000, 0.5);
      }

      &:active {
        top: inherit;
        position: inherit;
        box-shadow: inset 0 1px lighten(#ec148e, 10%), 0 4px darken(#ec148e, 10%);
      }
    }
  }
}