$mark-color: lighten(#000, 87%);

.get_started-page {
  font-family: Open Sans;
  font-weight: 300;

  em {
    font-weight: 400;
    font-style: normal;
  }

  .contents__section {
    border-bottom: dotted 1px rgba(#ccc, 0.5);
    padding-bottom: 20px;
  }

  .syntax {
    font-family: Monaco, Menlo, "Courier New", monospace;
    font-size: 12px;
    background-color: rgba(#fff, 0.1);
    // border: solid 1px rgba(#000, 0.1);
    padding: 10px;
    margin: 5px;
    @include rounded(2px);
    box-shadow: inset rgba(#000, 0.3) 0px 1px 3px;
  }

  .syntax-list {
    li {
      line-height: 2em;
    }
  }

  .mini-preview {
    font-family: "Source Sans Pro", Helvetica;
    font-size: 14px;
    font-weight: 300;
    background-color: rgba(#000, 0.02);
    // border: solid 1px rgba(#000, 0.05);
    box-shadow: rgba(#000, 0.3) 0px 1px 2px;
    padding: 20px;
    margin: 5px;
    @include rounded(2px);

    .header {
      text-align: center;

      .name {
        font-weight: 600;
        font-size: 18px;
      }
    }

    .section {
      .title {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .illustration-label {
    margin: 5px;
    display: inline-block;
    font-size: 12px;
    border-bottom: solid 1px rgba(#000, 0.1);
  }

  mark {
    font-family: Monaco, Menlo, "Courier New", monospace;
    padding: 2px 8px;
    color: #000;
    @include pebble($mark-color);
  }

  .table_of_contents {
    font-size: 12px;
    font-weight: 300;
    font-family: "Source Sans Pro";

    ol {
      margin: 0px;
      padding: 0px;
      margin-left: 20px;
    }

    ul {
      margin: 0px;
      padding: 0px;
      margin-left: 20px;
    }
  }
}