.password-recovery-page {
  @include content-page();

  .form-container {
    @include rounded(2px);
    background: #fff;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.10);
    max-width: 500px;
  }

  .title {
    background-color: rgba(240, 56, 120, 1.0);
    color: #fff;
    padding: 10px;
  }
}