.user-resumes-page {
  @include theme-background();
  margin: 0px;
  padding: 0px;

  $thumbnail-width: 182px;
  $thumbnail-height: 232px;
  $item-height: 330px;

  .resume-list-item {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    height: $item-height;
    color: #fff;
    transition: background-color 0.3s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    .icon {
      margin-left: 2px;
      margin-right: 2px;
    }

    &:hover {
      background-color: rgba(#fff, 0.1);
      transition: background-color 0.3s;
    }

    .page-links {
      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .pdf-page-count {
      color: #fff;
      font-size: 12px;
    }

    .thumb-wrap {
      width: $thumbnail-width;
      height: $thumbnail-height;
      display: block;
      margin: 0px auto;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      box-shadow: 0px 3px 3px 0px rgba(#000, 0.2);

      &.touched {
        box-shadow: 0px 3px 6px 0px rgba(#000, 0.4);
      }

      &:hover {
        box-shadow: 0px 3px 3px 0px rgba(#000, 0.4);
      }

      img {
        image-rendering: crisp-edges;
      }
    }

    .thumb {
      display: block;
      background-color: #fff;
      margin: 0px auto;
      padding: 0px;
      padding-bottom: 10px;
      width: $thumbnail-width;
      height: $thumbnail-height;
      // -webkit-tap-highlight-color: rgba(#fff, 0.5);
    }

    .name {
      color: #fff;
      display: block;
      margin-top: 10px;
      font-size: 16px;
      text-shadow: 0px 1px 2px rgba(#000, 0.4);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:hover {
        color: rgba(#fff, 0.9);
        text-decoration: none;
      }

      .icon {
        position: relative;
        top: -1px;
        left: -2px;
      }
    }

    .published-marker {
      span {
        background: #fff;
        font-family: "Source Sans Pro";
        font-weight: 600;
        font-size: 10px;
        color: #226E8D;
        padding: 1px 6px;
        display: inline-block;
        @include rounded(4px);
      }
    }

    .lock-flag {
      text-shadow: none;
      font-size: 12px;
    }

    &.placeholder {
      a {
        text-decoration: none;
        color: #fff;
      }

      .thumb {
        padding-top: 80px;
        background-color: rgba(#fff, 0.4);
        box-shadow: 0px 3px 5px 0px rgba(#000, 0.2);

        .icon {
          font-size: 32px;
        }
      }

      &:hover {
        .thumb {
          background-color: rgba(#fff, 0.2);
        }
      }
    }
  }

  .pending-indicator {
    width: 182px;
    height: 232px;
    background-color: #eee;

    .icon {
      padding: 100px 0px;
      color: darken(#eee, 15%);
      font-size: 32px;
    }
  }
}

.user-resumes-page__title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0;
  margin-top: 20px;
  text-shadow: 0px 1px 1px rgba(#000, 0.4);
  text-align: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

.resume-list-item__ribbon {
  background-color: #a00;
  position: absolute;
  transform: rotate(45deg);
  width: 75px;
  left: 131px;
  top: 6px;
  box-shadow: 0px 1px 1px rgba(#000, 0.2);

  span {
    font-size: 8px;
    text-transform: uppercase;
    border: 1px;
    color: #fff;
    display: block;
    margin: 1px 0px;
    padding: 2px 20px;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 600;
  }
}