.resume-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.resume-form__content {
  font-family: Menlo, "Courier New", monospace;
  font-size: 12px;

  @media (max-width: $screen-xs) {
    font-size: 10px;
  }
}