.resume-form {
  padding-bottom: 20px;

  legend {
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .help-block {
    font-size: 11px;
  }

  input[type='text'] {
    font-family: "Menlo", "Monaco", "Courier New", monospace;
    font-weight: bold;
  }

  .save-button {
    margin-top: 10px;

    @media screen and (max-width: $screen-phone) {
      display: block;
      font-weight: bold;
      font-size: 18px;
      position: fixed;
      left: 0;
      bottom: 0;
      @include rounded(0);
      z-index: 5000;
      height: 50px;
    }

    &[disabled] {
      opacity: 1.0;
    }

    .icon {
      margin-right: 10px;
    }
  }

  &.tablet-view {
    .save-button {
      display: block;
      font-weight: bold;
      font-size: 18px;
      position: fixed;
      left: 0;
      bottom: 0;
      @include rounded(0);
      z-index: 5000;
      height: 50px;
    }
  }

  textarea.content {
    font-family: "Menlo", "Monaco", "Courier New", monospace;
    font-size: 12px;

    @media (max-width: $screen-xs) {
      font-size: 10px;
    }
  }
}