/* User views own resume page */
.user-resume-page {

  .resume {
    border: solid 1px #ccc;
    padding: 20px 50px 50px 50px;
    margin: 10px 0 10px 0px;
    font-size: 12px;

    .resume-header {
      text-align: center;
    }

    .resume-section {
      margin-top: 20px;
    }
  }

  .details-panel {
    margin-top: 10px;
    font-size: 10px;
  }

  .affix {
    width: 220px;
  }

  .title-header {
    padding-top: 20px;

    .title {
      font-family: "Open Sans";
      font-size: 18px;
    }

    .unpublished {
      color: #aaa;
    }

    .published {
      margin-right: 10px;
      color: #aaa;
    }
  }

  .button-set {
    float: right;

    @media (max-width: $screen-phone) {
      float: none;
    }
  }

  .editor {
    height: 500px;
  }
}

/* Resume list item when users sees own resume list */
.resume-index-item {
  border-bottom: solid 1px darken(#fff, 5%);
  padding-top: 10px;
  padding-bottom: 10px;

  .header {

  }

  .header-title {
    font-size: 22px;
    color: #000;
    font-family: "Open Sans";
  }

  .slug {
    font-size: 16px;
  }

  .publish-status {
    color: lighten(#000, 70%);
    font-size: 10px;
  }

  .action-links {
    padding-top: 10px;
  }

  .file-links {
    @media (max-width: $screen-sm) {
      padding-top: 10px;
    }
  }

  .publish-form {
    display: inline-block;
  }

  .publisher-element-enter {
    opacity: 0.1;
    transition: opacity 0.5s ease-in;
  }

  .publisher-element-enter.publisher-element-enter-active {
    opacity: 1.0;
  }

  .publisher-element-leave {
    opacity: 1.0;
    transition: opacity 0.05s;
  }

  .publisher-element-leave.publisher-element-leave-active {
    opacity: 0.1;
  }
}

.resume-index-item-placeholder {
  background-color: darken(#fff, 2%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px darken(#fff, 5%);

  .create-new-button {
    a {
      color: #fff;
    }
  }
}

// TODO: Reorganize this style
textarea.console {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 10px;

  @media (max-width: $screen-xs-min) {
    font-size: 10px;
  }
}

.resume-form {
  padding-top: 20px;
  padding-bottom: 20px;
}