.signup-page {
  @include content-page();

  .form-container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    margin: 50px auto;
    box-shadow: rgba(#000, 0.2) 0px 2px 4px;
    @include rounded(2px);
  }

  .form-title {
    text-transform: uppercase;
    background: #ec148e;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.signup-confirmation-page {
  @include theme-background;

  .box {
    background-color: #fff;
    @include rounded(4px);
    margin: 50px auto;
    padding: 20px;
    max-width: 500px;
  }

  .title {
    font-size: 24px;
    font-weight: 400;
  }

  .tell-login {
    margin: 20px auto;
  }
}