.user_page {
  padding-bottom: 20px;
  @include content-page;
}

.user-page__area {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: dotted 1px rgba(#000, 0.1);

  &.last {
    border: none;
  }
}