.page.publication-access-code-page
  .form-container
    .title
      %span.fa.fa-lock
      Enter Access Code
      %span.subtitle
        (case-sensitive)
    - if @msg
      .msg.bg-danger
        %span.fa.fa-exclamation-triangle
        = @msg
    = form_for publication_post_access_code_path do
      .form-group
        %input{type: "password", name: "access_code", autofocus: "true", autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false", class: "form-control code-box"}
      %button{type: "submit", class: "btn btn-success"} Submit
