#resume
- content_for :body_javascript do
  :javascript
    $(function(){
      React.render(React.createElement(JibJob.PublicationPage, { resume: #{@resume_data} }), document.getElementById("resume"));
    });