.signup-confirmation-page
  .container
    .box
      .title Signup Confirmation

      - if @confirmation && @confirmation.valid?
        .msg Your account is now confirmed.
      - else
        .msg Not found.

      - if !current_user
        .tell-login
          = link_to "Sign in", login_url