.admin-page {
  min-height: 500px;
  background-color: #fff;
}

.admin-sidebar {
  color: #fff;
  background-color: rgba(#000, 0.9);
  padding: 10px;
  margin-top: 10px;
}

.admin-content {
  background-color: rgba(#fff, 1.0);
  margin-top: 10px;
}