default: &default
  adapter: postgresql
  encoding: unicode
  host: <%= ENV['JIBJOB_POSTGRES_HOST'] %>
  port: <%= ENV['JIBJOB_POSTGRES_PORT'] %>
  username: <%= ENV['JIBJOB_POSTGRES_USER'] %>
  password: <%= ENV['JIBJOB_POSTGRES_PASSWORD'] %>
  database: <%= ENV['JIBJOB_POSTGRES_DATABASE'] %>

development:
  <<: *default
  pool: 5

test:
  <<: *default
  pool: 5

staging:
  <<: *default
  pool: 10

production:
  <<: *default
  pool: 10
