default: &default
  :default_url_options:
    :host: <%= ENV['MAILER_HOST'] %>
  :smtp:
    :address: <%= ENV['SMTP_ADDRESS'] %>
    :port: <%= ENV['SMTP_PORT'] %>
    :authentication: 'plain'
    :enable_starttls_auto: true
    :domain: <%= ENV['SMTP_DOMAIN'] %>
    :user_name: <%= ENV['SMTP_USERNAME'] %>
    :password: <%= ENV['SMTP_PASSWORD'] %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default