!!!
%html
  %head
    %title= resume.data.full_name
    %meta{charset: 'utf8'}
    %meta{name: "author", content: resume.data.full_name}
    = wicked_pdf_stylesheet_link_tag "themes/#{resume.theme || 'default'}"
  %body
    = yield