[Unit]
Description=Ruby gems container

[Service]
RemainAfterExit=yes
ExecStartPre=/bin/docker pull jibjob/gems-container
ExecStart=/bin/docker run --name gems-container -v /vendor/bundle jibjob/gems-container
