[Unit]
Description=Postgres Master
Requires=postgres-data-container.service
After=postgres-data-container.service

[Service]
ExecStartPre=-/bin/docker kill postgres-master
ExecStartPre=-/bin/docker rm postgres-master
ExecStartPre=/bin/docker pull postgres:9.4.1
ExecStart=/bin/docker run --name=postgres-master -p 5432:5432 --volumes-from postgres-data-container -e SERVICE_NAME=postgres postgres:9.4.1
ExecStop=/bin/docker stop postgres-master
ExecStopPost=/bin/docker rm postgres-master
