/* These are bootstrap overrides */

/* Remove extra spaces around all jumbotrons */
.jumbotron {
  margin: 0px;
}

.breadcrumb {
  /* Remove extra space outside the bottom of all breadcrumbs */
  margin-bottom: 0px;

  /* Disable rounder corners */
  @include unrounded;

  color: #fff;
  background-color: rgba(#226E8D, 1.0);
  border-bottom: none;
  font-family: "Source Sans Pro";
  font-size: 12px;

  @media (max-width: $screen-sm-min) {
    background-color: #fff;
    color: #000;
    border-bottom: solid 1px rgba(#ccc, 0.4);
  }

  li {
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 400;

      @media (max-width: $screen-sm-min) {
        color: #000;
      }
    }
  }
}