/* Footer */
footer {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: darken(#fff, 40%);
  background: #000;

  .signout-link {
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      color: #C7102E;
    }
  }
}