/* Navbar Overrides */
.topnav {
  border: none;
  background: #000;
  @include rounded(0px);
  margin: 0px;
}

.navbar {
  min-height: 10px;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
}

.navbar .navbar-nav li a {
  font-size: 12px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  padding: 6px 12px;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.navbar-brand {
  min-height: 10px;
  padding: 0px;
  height: 20px;
}

.navlogo {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  text-decoration: none !important;
  background-color: #14a405;
  padding: 4px 10px;
  font-weight: bold;
  box-shadow: inset 0 1px #2abb1a, 0 4px #208b15;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 15px;
}

.navlogo:hover {
  text-shadow: #fff 0px 0px 2px;
  color: #fff;
}

.navlogo:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}