@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(//fonts.googleapis.com/css?family=Fugaz+One);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic);

$theme-pink: #ec148e;

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

body {
  font-family: 'HelveticaNeue-Light', sans-serif;
}

.page {
  @include page();
}

.content-page {
  @include content-page();
}

/* General Page Elements */
.page-header {
  margin: 0px;
  padding: 10px 0px;
}

/* Glyphicon in button */
button .glyphicon {
  margin-right: 5px;
}

.field_with_errors {
  label {
    background-color: darken(red, 10%);
    color: #fff;
    padding: 2px 5px;
  }
}

.page-contents {
  background-color: #fff;
  @include rounded(2px);
  padding: 10px;
  margin-bottom: 30px;

  @media (min-width: $screen-sm) {
    margin-top: 30px;
    padding: 20px 30px;
  }

  @media (max-width: $screen-xs) {
    margin: 0px;
    padding: 10px;
  }
}

#user-page {
  background-color: #fff;
}

// Bootstrap notify
[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
}