@mixin rounded($radius: 10px) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin unrounded {
  @include rounded(0px);
}

@mixin theme-background {
  background: rgb(123,170,181);
  background: -moz-radial-gradient(center, ellipse cover, rgba(123,170,181,1) 0%, rgba(22,126,158,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(123,170,181,1)), color-stop(100%,rgba(22,126,158,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(123,170,181,1) 0%,rgba(22,126,158,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(123,170,181,1) 0%,rgba(22,126,158,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(123,170,181,1) 0%,rgba(22,126,158,1) 100%);
  background: radial-gradient(ellipse at center, rgba(123,170,181,1) 0%,rgba(22,126,158,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7baab5', endColorstr='#167e9e',GradientType=1 );
}

@mixin pebble($color) {
  $col: lighten($color, 0%);
  background-color: $col;
  box-shadow: inset darken($col, 5%) 0px -2px 0px, inset lighten($col, 5%) 0px 1px 0px;
  @include rounded(2px);
}

@mixin page() {
  min-height: 500px;
  background-color: #fff;
}

@mixin content-page() {
  @include page();

  @media (min-width: $screen-xs) {
    background-color: #fff;
  }

  @media (min-width: $screen-sm) {
    @include theme-background();
  }
}