.front-splash {
  color: #fff;
  background-image: image-url("photos/front-splash-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .subtitle1 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
  }

  .subtitle2 {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
  }

  .signup-button {
    margin-top: 10px;
  }
}

.front-features {
  background-color: #70b7ff;
  min-height: 100px;
  padding: 20px;

  .feature {
    padding: 20px;
    background-color: #fff;
    border-bottom: solid 3px darken(#70b7ff, 8%);

    .title {
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.front-details {
  background-color: #000;
  padding: 20px;
  color: #fff;
  min-height: 200px;
}