@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

html, body {
  margin: 0px;
  padding: 0px;
  background: #000;
}

body {
  font-family: 'HelveticaNeue-Light', sans-serif;
  background: #fff;
}

.page {
  min-height: 500px;
}


/* Navbar Overrides */
.topnav {
  border: none;
  background: #000;
  @include rounded(0px);
  margin: 0px;
}

.navbar {
  min-height: 10px;
}

.navbar-inverse .navbar-nav li a {
  color: #fff;
}

.navbar .navbar-nav li a {
  font-size: 12px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  padding: 6px 12px;

  &:hover {
    background: #fff;
    color: #000;
  }
}

.navbar-brand {
  min-height: 10px;
  padding: 0px;
  height: 20px;
}

.navlogo {
  @include rounded(6px);
  color: #fff;
  text-decoration: none !important;
  background-color: #14a405;
  padding: 4px 10px;
  font-weight: bold;
  box-shadow: inset 0 1px #2abb1a, 0 4px #208b15;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

.navlogo:hover {
  text-shadow: #fff 0px 0px 2px;
  color: #fff;
}

.navlogo:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}


/* General Page Elements */
.page-header {
  margin: 0px;
  padding: 10px 0px;
}


/* Footer */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
  background: #000;
  margin-top: 50px;
}