#stats-page

- content_for :body_javascript do
  :javascript
    $(function(){
      React.render(React.createElement(JibJob.ResumeStatsPage, { resume: #{@resume_data}, pageViews: #{@views_data}, resumeStats: #{@resume_stats}, resumesPage: "#{user_resumes_url(current_user)}"}), document.getElementById('stats-page'));
    });