.page-header
  .container-fluid
    %h3
      User #{@user.id}: #{h @user.username}
      %span.small= h @user.email

  .container-fluid
    %h4 User Details

  .container-fluid
    %h4 Resumes

  .container-fluid
    %h4 Publications