%footer.container-fluid
  .row
    .col-md-12
      - if current_user
        .small
          = link_to "Sign out", logout_url
      .small
        = link_to "Terms of Service", terms_of_service_url
        |
        = link_to "Privacy Policy", privacy_policy_url
      .small Copyright &copy; 2015 jibjob.co. All rights reserved.
