.resume-index-item.col-sm-12
  .header
    = link_to resume.name, user_resume_url(current_user, resume), class: 'header-title'
    - if resume.is_published?
      %span.publish-status Published
    - else
      %span.publish-status Unpublished

  .descriptor= resume.descriptor

  %div
    = link_to "Edit", edit_user_resume_url(current_user, resume)
    = link_to "Delete", delete_user_resume_url(current_user, resume)