.resume-index-item.col-sm-12
  %h4
    = link_to resume.name, user_resume_url(current_user, resume)
    - if resume.is_published?
      %span.small Published
    - else
      %span.small Unpublished

  %h5= resume.descriptor