.page-header
  .container-fluid
    %h1
      My Resumes
      %span.small
        = link_to "New", new_user_resume_url

.container-fluid
  - if @resumes.empty?
    %p You have no resumes.
  - else
    %ul
      - @resumes.each do |resume|
        %li
          .resume
            = link_to resume.name, user_resume_url(current_user, resume)
            |
            = link_to "PDF", resume.pdf.url