.page.resumes
  .page-header
    .container-fluid
      %h3
        My Resumes
        .pull-right
          = link_to "Create New", new_user_resume_url, class: "btn btn-success btn-sm"

  .container-fluid
    - cache @resumes do
      - if @resumes.empty?
        %p You have no resumes.
      - else
        .row
          - @resumes.each do |resume|
            - cache resume do
              = render partial: "index_item", locals: { resume: resume }