.user-resumes-page.page.small-white-content-page
  .container
    .user-resumes-page__title
      %span.glyphicon.glyphicon-file
      = t("my_resumes").titleize

  = react_component('JibJob.ResumeList', { resumes: JSON.parse(@resumes_data), createPage: new_user_resume_url(current_user), showCreateButton: current_user.has_available_resume_slot? }, { prerender: true })
