.page.resumes
  .page-header
    .container-fluid
      .h3
        My Resumes

  .container-fluid
    - cache @resumes do
      .row
        - (0..@item_limit - 1).each do |index|
          - resume = @resumes[index]
          - if resume
            = render partial: "index_item", locals: { resume: @resumes[index] }
          - else
            = render partial: "index_item_placeholder"