.page.resumes
  .page-header
    .container-fluid
      .h3
        My Resumes
        .pull-right
          = link_to "Create New", new_user_resume_url, class: "btn btn-success"

  .container-fluid
    - cache @resumes do
      - if @resumes.empty?
        .row
          .col-md-12
            .alert.alert-info
              You have no resumes.
      - else
        .row
          - @resumes.each do |resume|
            - cache resume do
              = render partial: "index_item", locals: { resume: resume }