- content_for :body_javascript do
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"

.new-resume-page.page
  %ol.breadcrumb
    %li= link_to "My Resumes", user_resumes_url(current_user)
    %li New Resume
  .container
    %h3 New Resume
    = react_component('JibJob.ResumeForm', { resume: JSON.parse(@resume_data), themes: Themes.list, saveURL: user_resumes_url(current_user), saveMethod: 'POST', usePlainEditor: @use_plain_editor, sampleURL: asset_url('sample-resume.txt'), nameMaxLength: Resume::NAME_MAX_LENGTH, slugMaxLength: Resume::SLUG_MAX_LENGTH, getStartedURL: get_started_url, showExampleLoader: true }, { prerender: true })
