- content_for :body_javascript do
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"

= react_component("JibJob.ResumeForm", {resume: @resume_data, saveURL: user_resumes_url(current_user), saveMethod: 'POST', usePlainEditor: @use_plain_editor}, {prerender: false})