.page.user-resume-page
  %ol.breadcrumb.visible-xs.hidden-sm
    %li= link_to "My Resumes", user_resumes_url(current_user)

  -#.page-header
    .container-fluid
      %h3
        = @resume.name


  .container-fluid
    .row
      .col-md-9.col-md-push-3
        = render partial: "web_preview", locals: { resume: @resume, resume_data: @resume_data }
      .col-md-3.col-md-pull-9
        = render partial: "details", locals: { resume: @resume, resume_data: @resume_data }