.page.user-resume-page
  %ol.breadcrumb
    %li= link_to "My Resumes", user_resumes_url(current_user)
    %li= @resume.name

  .page-content
    #resume

- content_for :body_javascript do
  :javascript
    $(function(){
      React.render(React.createElement(JibJob.UserResumePage, { resume: #{@user_resume} }), document.getElementById("resume"));
    });