.page-header
  .container-fluid
    %h1
      = @resume.name
      = link_to "Edit", edit_user_resume_url(current_user, @resume), class: "small"

.container-fluid
  :erb
    <pre>
    <%= @resume.content %>
    </pre>