@import "includes/globals";

@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic";

$header-font: "Source Sans Pro";
$base-font-size: 12px;

.resume-presentation {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: $base-font-size;

  &.user-view {
    max-width: inherit;
  }

  @media screen {
    padding: 35px 1.0in;
    margin: auto;
  }

  @media screen and (max-width: $small-screen-size) {
    padding: 20px;
  }

  .header {
    text-align: center;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .full_name {
      font-family: $header-font;
      font-size: $base-font-size * 1.4;
      font-weight: 600;
    }
  }

  .section {
    line-height: $base-font-size * 1.4;
    padding-top: 20px;

    .section__title {
      font-family: $header-font;
      font-family: "Source Sans Pro";
      font-weight: bold;
      font-size: $base-font-size * 1.4;
      margin-bottom: 10px;
    }
  }

  .period {
    .period__title {
      font-size: $base-font-size * 1.2;
      font-weight: 600;
      font-family: $header-font;
    }
  }
}