@import "includes/globals";

@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic";

$header-font: "Source Sans Pro";
$base-font-size: 12px;

.resume-presentation {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: $base-font-size;
  background-color: #fff;
  color: #000;
  max-width: $page-width;

  &.user-view {
    max-width: inherit;
  }

  @media screen {
    padding: 35px 55px;
    margin: auto;
  }

  @media print {

  }

  .header {
    text-align: center;

    .full_name {
      font-family: $header-font;
      font-size: $base-font-size * 1.8;
      font-weight: 600;
    }
  }

  .section {
    line-height: $base-font-size * 1.8;

    .section__title {
      font-family: $header-font;
      font-family: "Source Sans Pro";
      font-weight: bold;
      font-size: $base-font-size * 1.8;
    }
  }

  .period {
    .period__title {
      font-size: $base-font-size * 1.6;
      font-weight: 600;
      font-family: $header-font;
    }
  }
}