@import "globals";

$header-font: "Helvetica";
$base-font-size: 12px;

.resume-presentation {
  font-family: "Helvetica";
  font-weight: normal;
  font-size: $base-font-size;
  background-color: #fff;
  color: #000;
  max-width: $page-width;

  &.user-view {
    max-width: inherit;
  }

  @media screen {
    padding: 35px 55px;
    margin: auto;
  }

  @media print {

  }

  .header {
    text-align: center;

    .full_name {
      font-family: $header-font;
      font-size: $base-font-size * 1.8;
      font-weight: bold;
    }
  }

  .section {
    line-height: $base-font-size * 1.8;

    .section__title {
      font-family: $header-font;
      font-size: $base-font-size * 1.8;
      font-weight: bold;
    }
  }

  .period {
    .period__title {
      font-size: $base-font-size * 1.6;
      font-weight: bold;
      font-family: $header-font;
    }
  }
}